 /* nav  bar css*/
 body>.container-fluid:first-of-type{
    border: black 3px solid;
    position: relative;
    width: 90%;
    height: 20%;
    background: white;
}

.img-fluid{
    width: 40%;
    position: relative;
    left:30%;
}

.container-fluid>.row>.col{
    text-align: center;
    
    
}


.container-fluid>.row>.col>a{
    text-align: center;
    position: relative;
    top: 30%;
    height: 100%;
    font-size: 100%;
}
.container-fluid:first-of-type>.row>.col>a:hover{
    text-shadow:  1px 1px #494646;

    text-decoration: none;
}





/* the css for the main body */
body{
background: grey;
}

body>.container-fluid:nth-of-type(2){
    margin-top: 5%;
    background-color: rgb(252, 66, 66);
    width: 90%;
}

body>.container-fluid:nth-of-type(2)>.col-6:first-of-type{
width: 50%;
height: 100%;
}
body>.container-fluid:nth-of-type(2)>.col-6:nth-of-type(2){
    width: 100%;
}

body>.container-fluid:nth-of-type(2)>.col-6:nth-of-type(2)>h2{
text-align: center;
width: 100%;
}
.tasks-header{
    text-align: center;
    width: 100%;
}


/*   this is the css for the progress bar   */
.tasks>h2{
    text-align: center;
}




/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }
