body{/*
    width:100%;
    height: auto;
    */
    background-color:rgb(109,101,101);
}
.siteContainer{
    background-color: transparent;
}
.standardBox{
  background-color: rgb(116,115,253);
  border:white solid 2px;
  color:rgb(255,230,100);
  padding:2.5%;
  /*  
  width:90%;
  margin-left:2.5%;
  margin-right:2.5%;
  margin-bottom:5%;
  
  position:relative;
  */
}
p{
    color:rgb(255,230,100);

}
.myNav{
    position:fixed;
    height: auto;
    width:95%;
    top:0%;
    margin-left:2.5%;
    background-color: white;
    z-index:3;
    overflow:hidden;
}
.SectionTitle{
    border:white;
    left:20%;
    position:relative;
    border:white solid 2px;
    width:15%;
    background-color: rgb(116,115,253);
}
a{
    color:rgb(123, 100, 255);
}
h3{
    text-align: center;
}
footer{
    background-color:rgb(109,101,101);
}